<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Style Example</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>This is my heading</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, odit nulla doloribus inventore commodi possimus culpa eum unde beatae distinctio nobis minima perferendis nisi accusamus autem eveniet optio sequi cupiditate?</p>
    <h1 id ="smaller">This is another heading</h1>
    <h1 class="highlight">This is another heading</h1>
    <h2>Party Hard</h2>
    <h2 class="purple">Party Harder</h2>
</body>
</html>