body{
    background-color: navy;
    font-family: "Kaushan Script", "Pacifico", "Tahoma";
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color: maroon;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav
{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

nav a:hover{
    background-color: white;
    color: black;
}

.logo{
    width: 120px;
}



.container {
    position: relative;
    text-align: center;
    color: white;
}

.page {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: maroon;
    font-size: 1.8em;
    text-shadow: 4px 4px black;
}

.welcome {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: maroon;
    font-size: 1.8em;
    text-shadow: 2px 2px black;
    max-width: 700px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    margin-top: 150px;
    margin-bottom: 50px;
    grid-column: 2;
    text-align: center;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.box1 {
    grid-column: 2;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
}

.costume {
    width: 250px;
    height: 300px;
    float: left;
    padding: 15px;
}

.one {
    text-align: justify;
}

.box2 {
    grid-column: 2;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
}

.shiny {
    width: 300px;
    height: 300px;
    float: right;
    padding: 15px;
}

.two {
    text-align: justify;
}

.box3 {
    grid-column: 2;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
}

.watch {
    width: 300px;
    height: 300px;
    float: left;
    padding: 15px;
}

.three {
    text-align: justify;
}

.flag {
    width: 700px;
    height: 400px;
}

main p {
    line-height: 2;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: white;
}

footer{
    background-color: maroon;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}








